*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: serif;

}
html,body{
    height: 100%;
    width: 100%;

}
#nav{
    display: flex;
    justify-content: center;
    gap: 5px;
    align-items: center;
    height:50px;
    width: 100%;
    background-color: #090707;
}
#nav a{
    font-size: 14px;
    padding: 0px 30px;
    text-decoration: none;
    color: white;
    padding: 0px 30px 0px 30px;
    font-weight: 900;
}
#nav i{
    color: white;
    padding: 35px;
    
}
#a{
    height: 90%;
    width: 100%;
    background-color: #ffffffc4;
    position: absolute;
    top: 10%;
    
}
img{
    left: 15%;
    width: 70%;
    height: 80%;
    top: 20%;
    position: absolute;
    
}
#a h1{
    position: absolute;
    left: 40%;
    font-size: 55px;
    font-weight: 1200;
}
#a h3{
    position: absolute;
    left: 45%;
    top: 55px;
    padding: 4px;
    font-weight:500;
}
#a h4{
    position: absolute;
    left: 46%;
    top: 80px;
    margin: 5px;
}
#nav a:hover{
    text-decoration: 2px solid underline rgb(248, 246, 246);
   font-family: gilroy;
   height: auto;
  

}